.book-list {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
  }
  
  .book-list h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .book-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align:center;
    
  }
  
  .book-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .book-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .book-info h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .book-info p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #555;
  }
  
  .delete-button {
    padding: 5px 10px;
    font-size: 0.9rem;
    color: #fff;
    background-color: #ff4d4d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .delete-button:hover {
    background-color: #ff1a1a;
  }