.register-container {
    max-width: 300px;
    margin: 30px auto;
    padding: 70px;
    background-color: #f9f9f9;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .register-container h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-button {
    background-color: #f02278;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
  }
  
  .register-button:hover {
    background-color: #fc3737dc;
  }
  
  p {
    margin-top: 15px;
  }
  
  p a {
    color: #f04444dc;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }